# Backend
myPlugin_*/backend/target/

# Frontend — dependencies
myPlugin_*/frontend/node_modules/
myPlugin_*/frontend/.pnp
myPlugin_*/frontend/.pnp.js

# Frontend — testing
myPlugin_*/frontend/coverage/

# Frontend — production build
myPlugin_*/frontend/build/

# Frontend — misc
myPlugin_*/frontend/.DS_Store
myPlugin_*/frontend/.env.local
myPlugin_*/frontend/.env.development.local
myPlugin_*/frontend/.env.test.local
myPlugin_*/frontend/.env.production.local

# Frontend — logs
myPlugin_*/frontend/npm-debug.log*
myPlugin_*/frontend/yarn-debug.log*
myPlugin_*/frontend/yarn-error.log*